header {
    background-color: #122A57;
    height: 100px;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 1.5rem;
}

header .list-itens {
    color: #fff;
    display: flex;
    max-width: 260px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

ul.list-itens li a {
    color: #fff;
}

header .menu {
    justify-content: space-between;

}